/*
  @theme totte
  @override-placeholders css, html, php, markdown
  @author Hans Tovetjärn
*/

@base {
	color: #fff;
	background-color:rgba(32,32,32,0.96);
	insertion-point-color: #fff;
	selection-background-color: #544E44;
}

/* @group Generic */

tag, source, sourcecode, styling {
	spell-check: disabled;
}

comment, comment > punctuation {
	color: #646464;
}

string {
	color: #fff;
}

operator {
	color: #fff;
}

keyword, keyword.operator, constant, numeric, character {
	color: #ccaa86;
}

comment keyword {
	color: #646464;
	font-weight: bold;
}

variable {
	color: #cdf249;
}

function, definition name {
	color: #EE0F04;
}

invalid {
	color: #fff;
	background: #EE0F04;
}

/* @end */

/* @group HTML+XML */

tag {
	color: #cdf249;
	spell-check: disabled;
}

html doctype, html doctype name, html doctype punctuation,
xml processing-instruction, xml processing-instruction string, xml processing-instruction string value {
	color: #646464;
}

html string value,
xml string value {
	color: #fff;
}

html character.entity {
	color: #cdf249;
}

html attribute-name {
	color: #ccaa86;
}

/* @end */

/* @group CSS */

css.embedded {
	background: #24211D;
}

css selector, css selector punctuation {
	color: #cdf249;
}

css property-name {
	color: #ccaa86;
}

css property-value, css property-value constant, css property-value keyword {
	color: #fff;
}

css punctuation {
	color: #aaa;
}

css comment punctuation {
	color: #646464;
}

css keyword.important {
	color: #aaa;
	font-weight: bold;
}

css color, css color punctuation {
	color: #aaa;
}

css group-start name {
	font-weight: bold;
}

/* @end */

/* @group Javascript */

js.embedded {
	background: #24211D;
}

js variable {
	color: #fff;
}

js variable.string {
	color: #aaa;
}

js constant {
	color: #cdf249;
}

js class.constructor > variable, js function.definition name {
	color: #EE0F04;
}

js keyword.language {
	color: #cdf249;
}

/* @end */

/* @group Apache */

apache keyword.directive {
	color: #cdf249;
}

apache tag > keyword {
	color: #ccaa86;
}

apache variable {
	color: #e5d08b;
}

/* @end */

/* @group PHP */

php.sourcecode {
	background: #1a1a1a;
	spell-check: disabled;
}

php delimiter.source, php delimiter.source > *,
php string > expression.complex > punctuation {
	color: #fff;
}

php definition name, php variable.function {
	color: #EE0F04;
	font-weight: normal;
}

php variable.keyword {
	color: #cdf249;
	font-weight: bold;
}

php constant {
	color: #fff;
}

php constant.numeric, php constant.language {
	color: #ccaa86;
}

php comment > keyword {
	color: #646464;
	font-weight: bold;
}

/* @end */

/* @group RegEx */

regex, regex.literal > punctuation.definition {
	color: #aaa;
}

regex punctuation.group {
	color: #ccaa86;
}

regex keyword, regex operator, regex escaped, regex character-class, regex character-class > punctuation {
	color: #cdf249;
}

regex > regex.group, regex.group > punctuation {
	background: rgba(255, 255, 255, 0);
}

/* @end */

/* @group Markdown */

markdown > punctuation.definition, markdown *:not(html,comment) punctuation.definition, markdown separator {
  color: #646464;
}

markdown separator, markdown hard-break {
  background: #444;
}

markdown header {
  font-weight: bold;
}

markdown bold {
  font-weight: bold;
}

markdown italic {
  font-style: italic;
}

markdown bold italic, markdown italic bold {
  font-weight: bold;
  font-style: italic;
}

markdown code {
  color: #ccaa86;
}

markdown link, markdown image {
  color: #cdf249;
}

markdown link > punctuation, markdown image > punctuation {
  color: #646464;
}

markdown url, markdown email {
  color: #aaa;
}

markdown keyword.reference {
  color: #646464;
}

/* @end */

/* @group Third Party */

/* @group ExpressionEngine */

ee.tag, ee.operator, ee.attribute-name,
ee ee.tag > ee.name, ee ee.tag > ee.punctuation, ee ee.tag.conditional,
ee ee.tag ee.attribute-name {
	color: #cdf249;
}

ee ee.tag ee.attribute-name {
	font-weight: normal;
}

ee ee.tag.self-closing.conditional {
	background: #333;
}

ee.attribute, ee ee.tag ee.attribute {
	color: #aaa;
}

/* @end */

/* @group Actionscript */

as3 keyword.as3, as3 keyword.bool {
	color: #ccaa86;
}

as3 keyword.function.as3 {
	color: #EE0F04;
}

as3 method name, as3 keyword.operators.as3 {
	color: #fff;
}

as3 integral.value {
	background: #333;
}

as3 keyword.class.as3 {
	color: #cdf249;
}

/* @end */

/* @group ColdFusion */

cfm.tag {
	color: #cdf249;
}

cfm operator, cfm keyword {
	color: #ccaa86;
}

cfml.embedded output {
	color: #fff;
}

cfml.embedded coldfusion.embedded {
	color: #ccaa86
}

function.cfm > parenthesis {
	color: #cdf249;
}

/* @end */

/* @end */