[user]
	name = totte
        email = totte@tott.es
[core]
	editor = vim
        excludesfile = /home/totte/.globalgitignore
[alias]
        a = add
        b = branch
        bd = branch -d
        c = commit
        ca = commit -a
        cam = commit -am
        cb = checkout -b
        ch = checkout
        cm = commit -m
        d = diff
        done = !gittask.sh done        
        f = fetch
        fm = pull
        l = log --graph --pretty=format:'%C(yellow)%h%Creset %C(bold green)%d%Creset %s %C(bold cyan)(%cr by %an)%Creset' --abbrev-commit
        m = merge
        new = !gittask.sh new
        p = push
        s = status
        sa = stash apply
        sc = stash clear
        sl = stash list
        ss = stash save
        sy = !gitsync.sh
        uc = revert HEAD
        uf = checkout HEAD
        ui = reset --hard HEAD
