[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
	ignore = untracked
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
	ignore = untracked
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@github.com:msanders/snipmate.vim.git
	ignore = untracked
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
	ignore = untracked
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = git@github.com:vim-scripts/TaskList.vim.git
	ignore = untracked
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
	ignore = untracked
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = git@github.com:vim-scripts/pep8.git
	ignore = untracked
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = git@github.com:kevinw/pyflakes-vim.git
	ignore = untracked
[submodule ".vim/bundle/pytest"]
	path = .vim/bundle/pytest
	url = git@github.com:hwt/pytest.vim.git
	ignore = untracked
[submodule ".vim/bundle/rename"]
	path = .vim/bundle/rename
	url = git@github.com:vim-scripts/Rename2.git
