[user]
	name = totte
	email = totte@tott.es
[alias]
        a = add
        b = branch
        bd = branch -d
        c = commit -S
        ca = commit -Sa
        cam = commit -Sam
        cb = checkout -b
        ch = checkout
        cm = commit -Sm
        d = diff
        f = fetch
        fm = pull
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
        m = merge
        p = push
        s = status
        sa = stash apply
        sc = stash clear
        sl = stash list
        ss = stash save
        sy = !gitsync.sh
        t = !gittask.sh
        uc = revert HEAD
        uf = checkout HEAD
        ui = reset --hard HEAD
